.theme__games {
  color: white;
}
.theme__box {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 15px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.image {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
img {
  vertical-align: middle;
  border-style: none;
}
.padding {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.theme__row {
  display: flex;
  flex-wrap: row wrap;
  margin-left: -5px;
  margin-right: -5px;
  row-gap: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(201, 210, 217, 0.08235294117647059);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
}

.figure {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
}
.figure__caption p {
  /* cursor: pointer; */
  padding-left: 10px;
  font-size: 2.2vw;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

.figure img {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}

.theme__footer h1 {
  color: white;
}
.theme__footer span,
p {
  color: #c6cfd6;
  font-size: 12px;
}

.theme__special-card {
  width: 100%;
  height: auto;
  border-radius: 15px;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid #2f3a41;
  border-color: #2f3a41;
  padding-top: 10px;
  padding-bottom: 10px;
}
.theme__special-card span {
  color: #bbc4ca;
  font-size: 15px;
}

.card__design {
  background: #58f47b;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin: auto;
  display: grid;
  align-content: space-around;
  justify-content: center;
}

.btn {
  background-color: transparent !important;
  font-size: 15px;
  opacity: 1;
  color: #c6cfd6 !important;
  border-color: #c6cfd6 !important;
}
.btn:hover {
  opacity: 0.7;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.theme__nav {
  color: #c6cfd6 !important;
  text-decoration: none !important;
}
.nav-link a {
  color: #c6cfd6 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}
.nav-link {
  cursor: pointer !important;
}
.theme__sponsor {
  margin-top: 30px;
  width: 100%;
  border-top: 1px solid #c6cfd6;
  border-bottom: 1px solid #c6cfd6;
}
.theme__sponsor svg {
  opacity: 1;
}
.theme__sponsor svg:hover {
  opacity: 0.7;
}

.container-fluid {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(241, 12, 12, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(226, 21, 21, 0.5);
}

@media only screen and (max-width: 600px) {
  .theme__sponsor svg {
    width: 100px !important;
  }
}

#root
  > div
  > div
  > div
  > div.rolldice_gameLeft__MW1zk
  > div.mt-3.d-flex.align-items-center.show.dropdown
  > div {
  width: 100%;
}
#root
  > div
  > div
  > div
  > div.coinflip_gameLeft__2l6w0
  > div.mt-3.d-flex.align-items-center.show.dropdown
  > div {
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*NAVBAR */

.dropdown-menu {
  background-color: #212529 !important;
  border: 1px solid #2f3a42 !important;
}

.filterDisabled {
  /* filter: blur(3px); */
  filter: grayscale(1);
  cursor: not-allowed !important;
  /* filter: saturate(2.2);
  filter:none; */
}

.dropdown-menu.show {
  width: 100% !important;
}
.light {
  background-color: #c9d2d9 !important;
  color: #000 !important;
  transition: all ease 1s;
}
.light h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #000 !important;
  transition: all ease 1s;
}
.dark {
  background-color: #151a1e !important;
  color: #c9d2d9 !important;
  transition: all ease 1s;
}
.dark p,
h2,
h3,
h4,
h5,
h6,
h1,
span {
  color: #c9d2d9 !important;
  transition: all ease 1s;
}
