.con {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 30vh 10vh;
}
.deneme {
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
.diceCon {
  display: flex;
  flex-direction: row;
  width: 40%;
}
